#fincli {
  font-size: 20px;
}


#sec2{
  padding-left: 40px;
}
#sec1{
  padding-left: 440px;
}
#contactbutton {
  font-size: smaller;
  bottom: 55px;
  position: relative;
  background-color: #00AFB9;
  border-color: #00AFB9;
  color:white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

header {
  padding: 200px;
  text-align: center;
  font-weight: 200px;

  background: hsla(194, 100%, 33%, 1);

  background: linear-gradient(90deg, hsla(194, 100%, 33%, 1) 0%, hsla(183, 100%, 36%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(194, 100%, 33%, 1) 0%, hsla(183, 100%, 36%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(194, 100%, 33%, 1) 0%, hsla(183, 100%, 36%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0081A7", endColorstr="#00AFB9", GradientType=1 );
  color: white;
  

}

#topbutton{
  background-color: #00AFB9;
  border-color: #00AFB9;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}



#tochangethesize{
	width: 750px;
	height: 750px;
	position: relative;
	top: 150px;
}

#topbutton:hover{
  background-color: cyan;
  border-color: cyan;
}

#contactbutton:hover{
  background-color: cyan;
  border-color: cyan;
}


#slideshowpart{
  padding-left: 500px;
}

#devinfo{
  
  padding-left: 40%;
}